@import './_variables';
@import './_navigation';

//use html to make it has a higher priority so that it will not be overwrite by external css style
html body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0;

    background-color: $background;
    
}